<% require 'nokogiri' %>
<% require 'curb' %>
<% require_relative './handler' %>

<% URL = 'http://bindingofisaacrebirth.gamepedia.com' %>

<div class="items">
  <% html = Nokogiri::HTML(Curl.get(URL + '/Item').body) %>
  
  <div class="passive_items">
    <h2>Пассивные предметы</h2>
    <% html.xpath('//table[@class="mw-collapsible wikitable striped passive-collectible"]/tr').map do |row| %>
      <% item = get_item(row) %>
      <% next if item[:name] == '' %>
      <div class="item">
        <div class="name"><%= item[:name] %></div>
        <div class="img"><%= image_tag item[:img_url] %></div>
        <div class="desc"><%= item[:desc] %></div>
      </div>
      <hr>
    <% end %>
  </div>

  <div class="active_items">
    <h2>Активные предметы</h2>
    <% html.xpath('//table[@class="mw-collapsible wikitable striped active-collectible"]/tr').map do |row| %>
      <% item = get_item(row) %>
      <% next if item[:name] == '' %>
      <div class="item">
        <div class="name"><%= item[:name] %></div>
        <div class="img"><%= image_tag item[:img_url] %></div>
        <div class="desc"><%= item[:desc] %></div>
      </div>
      <hr>
    <% end %>
  </div>

</div>

<div class="trinkets">
  <h2>Брелоки</h2>
  <% html = Nokogiri::HTML(Curl.get(URL + '/Trinkets').body) %>
  <% html.xpath('//tr').map do |row| %>
    <% item = get_item(row) %>
    <% next if item[:name] == '' %>
    <div class="item">
      <div class="name"><%= item[:name] %></div>
      <div class="img"><%= image_tag item[:img_url] %></div>
      <div class="desc"><%= item[:desc] %></div>
    </div>
    <hr>
  <% end %>
</div>
